Package: com.jakeashacks.noNotch
Name: noNotch
Version: 1.1.1
Architecture: iphoneos-arm
Description: Hides the notch on iPhone X. Issues are present. Source code: https://github.com/jakeajames/noNotch
Pre-Depends: firmware(>=11.0), mobilesubstrate, com.rpetrich.rocketbootstrap (>= 1.0.6)
Maintainer: Jake James <jakeashacks@gmail.com>
Author: Jake James <jakeashacks@gmail.com>
Section: System
