Package: net.iapps4u.nonotch
Name: noNotch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jake James
Author: Jake James
Section: Tweaks
